
<%= content_for :contents do %>
	<div class="ui-corner-all custom-corners">
	  <div class="ui-bar ui-bar-a">
	    <h3>Write your comment here</h3>
	  </div>
	  <div class="ui-body ui-body-a">
			<div class="ui-field-contain">
			<%= form_for @comment,:url => url_for(:controller => 'comment',:action => 'create') do |f| %>
               
                    <%= f.text_field :name, {:placeholder=> "Name", "data-clear-btn"=>true} %>
               
                    <%= f.email_field :email, { :placeholder=> "Email","data-clear-btn"=>true } %>
               
                   <%= f.text_area :comment, { :placeholder=> "Comment"} %>
                  
                  <%= f.submit "Send",{:class=>"ui-shadow ui-btn ui-corner-all"} %>
          <% end %>
          </div>
		</div>
	</div>
	<br>
	<% unless @view_comment.nil? || @view_comment.empty? %>
	<div class="ui-corner-all custom-corners">
	  <div class="ui-bar ui-bar-a">
	    <h3>Comment List</h3>
	    <ul data-role="listview" data-inset="true">
	    	<%@view_comment.each_with_index do |c,index| %>
		    <li>
				<% if admin_signed_in? %>
						<%= form_for(@comment, :url => { :action => "destroy",:key_com=>c.id }, :method => :delete,:id=>c.id) do |f| %>
							<div style="text-align: right;">
								<%=image_submit_tag("delete.png", :onclick => "return confirm('Are you sure to delete this comment?')")%>
							</div>
						<%end%>
				<%end%>
				<p style="text-align: right;">
					<%= c.created_at%>
				</p>
			    <h2><%= c.name%></h2>
			    <p style="white-space: normal;">
			    	<%if index % 2 !=0 %>
			    		<%=image_tag("avatar-grey.png",:align=>"left",:style=>"width:20%;margin-right:10px;")%>
			    	<%else%>
			    		<%=image_tag("avatar-pink.png",:align=>"left",:style=>"width:20%;margin-right:10px;")%>
			    	<%end%>
			    	<%=link_to c.email,"mailto:#{c.email}"%>
			    	<br />
			    	<%= c.comment%>
			    </p>
			    <!--<p class="ui-li-aside">
			    	<strong><%= c.created_at%></strong>
			    </p>-->
			    <p style="text-align: right;">
			    	<%=link_to("Reply(#{UserReply.where('user_comment_id=?',c.id).count})",{:controller=>"replies",:action => "index",:key_com=>c.id},:class=>"ui-btn ui-btn-inline ui-corner-all")%>
			    </p>
			        
		    </li>
		    <%end%>
		</ul>
	  </div>
	</div>
	<%end%>
<%end%>
