<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    	<p>You have received a comment at project <b>*Lego NXT Slot Machine</b>.</p>
    	<blockquote><i>
    		<p><%=@comment.created_at%>, <%=@comment.name%>(<%=@comment.email%>)</p>
    		<p>
    			<%@avatar="https://dl.dropboxusercontent.com/u/65733650/hosting/avatar-brown.png"%>
	    		<%=image_tag(@avatar,:size=>"60x60",:style=>"float:left;margin-right:5px;")%>
    			"<%=@comment.comment%>"
    		</p>
    	</i>
    	</blockquote>
    <div style="margin-top: 50px;">
	    <p>**Please do not reply to this email. To access your comment, <%= link_to 'click here',@url%>.</p>
    </div>
  </body>
</html>
