<!DOCTYPE html>
<html>
<head>
  <title>Sk-Slotmachine</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
	<!--<script src="//www.youtube.com/player_api"></script>-->
	<%= stylesheet_link_tag "mobile_content" %>
	<style>
			/* Adjust the width of the left reveal menu. */
		#demo-page #left-panel.ui-panel {
		    width: 15em;
		}
		#demo-page #left-panel.ui-panel-closed {
		    width: 0;
		}
		#demo-page .ui-panel-page-content-position-left,
		.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
		    left: 15em;
		    right: -15em;
		}
		#demo-page .ui-panel-animate.ui-panel-page-content-position-left.ui-panel-page-content-display-reveal {
		    left: 0;
		    right: 0;
		    -webkit-transform: translate3d(15em,0,0);
		    -moz-transform: translate3d(15em,0,0);
		    transform: translate3d(15em,0,0);
		}
		/* Listview with collapsible list items. */
		.ui-listview > li .ui-collapsible-heading {
		  margin: 0;
		}
		.ui-collapsible.ui-li-static {
		  padding: 0;
		  border: none !important;
		}
		.ui-collapsible + .ui-collapsible > .ui-collapsible-heading > .ui-btn {
		  border-top: none !important;
		}
		/* Nested list button colors */
		.ui-listview .ui-listview .ui-btn {
		    background: #fff;
		}
		.ui-listview .ui-listview .ui-btn:hover {
		    background: #f5f5f5;
		}
		.ui-listview .ui-listview .ui-btn:active {
		    background: #f1f1f1;
		}
		/* Reveal panel shadow on top of the listview menu (only to be used if you don't use fixed toolbars) */
		#demo-page .ui-panel-display-reveal {
		    -webkit-box-shadow: none;
		    -moz-box-shadow: none;
		    box-shadow: none;
		}
		#demo-page .ui-panel-page-content-position-left {
		    -webkit-box-shadow: -5px 0px 5px rgba(0,0,0,.15);
		    -moz-box-shadow: -5px 0px 5px rgba(0,0,0,.15);
		    box-shadow: -5px 0px 5px rgba(0,0,0,.15);
		}
		/* Setting a custom background image. */
		#demo-page.ui-page-theme-a,
		#demo-page .ui-panel-wrapper {
		    background-color: #fff;
		    background-image: url("../_assets/img/bg-pattern.png");
		    background-repeat: repeat-x;
		    background-position: left bottom;
		}
		/* Styling of the page contents */
		.article p {
		    margin: 0 0 1em;
		    line-height: 1.5;
		}
		.article p img {
		    max-width: 100%;
		}
		.article p:first-child {
		    text-align: center;
		}
		.article small {
		    display: block;
		    font-size: 75%;
		    color: #c0c0c0;
		}
		.article p:last-child {
		    text-align: right;
		}
		.article a.ui-btn {
		    margin-right: 2em;
		}
		@media all and (min-width:769px) {
		    .article {
		        max-width: 994px;
		        margin: 0 auto;
		        padding-top: 4em;
		        -webkit-column-count: 2;
		        -moz-column-count: 2;
		        column-count: 2;
		        -webkit-column-gap: 2em;
		        -moz-column-gap: 2em;
		        column-gap: 2em;
		    }
		    /* Fix for issue with buttons and form elements
		    if CSS columns are used on a page with a panel. */
		    .article a.ui-btn {
		        -webkit-transform: translate3d(0,0,0);
		    }
		}
	</style>
</head>
<body>
<div data-role="page" id="demo-page">
    <div data-role="header">
    	<%=image_tag("Robo_Head.jpg",:style=>"width:100%;")%>
        <h1>Robotics Pratical</h1>
        <a href="#left-panel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false">Menu</a>
        <% unless (request.original_url.include? "reply/index?key_com=") || (request.original_url.include? "kh-verwalter") || (request.original_url.include? "admins")%>
	       	<div data-role="navbar">
		        <ul>
		            <li style="width: 20%;"><%=link_to "<<",@previous%></li>
		            <li style="width: 60%;"><a href="#"><%=@bc%></a></li>
		            <li style="width: 20%;"><%=link_to ">>",@next%></li>
		        </ul>
		    </div><!-- /navbar -->
	    <%else%>
	    	<div data-role="navbar">
		        <ul>
		            <li style="width: 20%;"><%=link_to "<<Back",comment_index_path%></li>
		        </ul>
		    </div><!-- /navbar -->
	    <%end%>
    </div><!-- /header -->
    <div role="main" class="ui-content">
        <div class="article">
            <p id="notice" style="color: green;"><%= notice %></p>
    		<p id="alert" style="color: red;" ><%= alert %></p>
	    	<%= yield :contents %>
        </div><!-- /article -->
    </div><!-- /content -->
    <div data-role="panel" id="left-panel">
        <ul data-role="listview">
            <li><%=link_to("Basic Information",root_path)%></li>
			<li><%=link_to("Construction Part1",construction1_index_path)%></li>
			<li><%=link_to("Construction Part2",construction2_index_path)%></li>
			<li><%=link_to("Programming and Algorithm",programming_index_path)%></li>
			<li><%=link_to("Implementation",implement_index_path)%></li>
			<li><%=link_to("About Team",about_team_index_path)%></li>
			<li><%=link_to("Comment and Feedback",comment_index_path)%></li>
			<li data-role="collapsible" data-inset="false" data-iconpos="right">
              <h3>Contact</h3>
              <ul data-role="listview">
                <li><a href="mailto:katja.mombaur@iwr.uni-heidelberg.de"target="_blank">Prof.Katja Mombaur</a></li>
                <li><a href="mailto:harant.monika@gmx.net" target="_blank">Monika Harant</a></li>
                <li><a href="mailto:seung@stud.uni-heidelberg.de"target="_blank">Kuroun Seung</a></li>
              </ul>
            </li><!-- /collapsible -->
            <li data-role="collapsible" data-inset="false" data-iconpos="right">
              <h3>Link</h3>
              <ul data-role="listview">
                <li><a href="http://www.uni-heidelberg.de/"target="_blank">Universität Heidelberg</a></li>
				<li><a href="http://www.iwr.uni-heidelberg.de/" target="_blank">Interdisciplinary Center for Scientific Computing (IWR)</a></li>
				<li><a href="http://ornella.iwr.uni-heidelberg.de/ROBOTICSLAB/index.php?l=en"target="_blank">Robotics Lab</a></li>	
              </ul>
            </li><!-- /collapsible -->
            <li data-role="collapsible" data-inset="false" data-iconpos="right">
              <h3>Documentation</h3>
              <ul data-role="listview">
                <li><%=link_to("Presentation.pdf",:controller=>"/application",:action=>"download_presentation")%></li>
				<li><%=link_to("Source Code.rar",:controller=>"/application",:action=>"download_code")%></li>
				<li><%=link_to("Poster.pdf",:controller=>"/application",:action=>"download_poster")%></li>
              </ul>
            </li><!-- /collapsible -->
            <% if admin_signed_in? %>
	            <li data-role="collapsible" data-inset="false" data-iconpos="right">
	              <h3>Admin Area</h3>
	              <ul data-role="listview">
	                <li><%=link_to("Log Out",destroy_admin_session_path)%></li>
	            </li><!-- /collapsible -->
	        <%end%>
	        <li data-icon="delete"><a href="#" data-rel="close">Close</a></li>
        </ul>
    </div><!-- /panel -->
    <div data-role="footer">
    	<% unless (request.original_url.include? "reply/index?key_com=") || (request.original_url.include? "kh-verwalter") || (request.original_url.include? "admins")%>
    	<!--<%#unless request.original_url[1].split("/").any? { |x| ["reply", "kh-verwalter", "admins"].include?(x) }%>-->
	    	<div data-role="navbar">
		        <ul>
		           	<li style="width: 20%;"><%=link_to "<<",@previous%></li>
		            <li style="width: 60%;"><a href="#"><%=@bc%></a></li>
		            <li style="width: 20%;"><%=link_to ">>",@next%></li>
		        </ul>
		    </div><!-- /navbar -->
		<%else%>
	    	<div data-role="navbar">
		        <ul>
		            <li style="width: 20%;"><%=link_to "<<Back",comment_index_path%></li>
		        </ul>
		    </div><!-- /navbar -->
	    <%end%>
    	<%=image_tag("schriftzug_uni_heidelberg.jpg",:style=>"width:100%;")%>
	    <h1>by Kuroun Seung 2012 - 2014.</h1>
	</div>
</div>
</body>
</html>